body {
  --twitter-color-blue: #50b7f5;
  --twitter-color-lightblue: #e8f5fe;
  --twitter-background-color: #e6ecf0;
}
.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
