.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
}
.sidebarOption--active {
    color: var(--twitter-color-blue);
}
.sidebarOption:hover {
    color: var(--twitter-color-blue);
    background-color: var(--twitter-color-lightblue);
    transition: color 100ms ease-out;
}
.sidebarOption > h2 {
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}
.sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
}
